.pf2e-animations-autorec-update-child {
    flex: 1;
    border: 2px solid #6f6c66;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.pf2e-animations-autorec-update-child:first-child {
    padding-right: 10px;
}

.pf2e-animations-autorec-update-ul {
    column-count: 2;
}

.pf2e-animations-autorec-update-buttons {
    height: 36px;
}